[buildout]
parts =
    interpreter
    tags
    instance
    test

extensions = 
    mr.developer

sources = sources
sources-dir = ${buildout:directory}/devsrc
auto-checkout = *
always-checkout = false

[sources]
mailman =        bzr lp:mailman
mailman.client = bzr lp:mailman.client
postorius      = bzr lp:postorius

[interpreter]
recipe = z3c.recipe.scripts
interpreter = py
eggs =
    mailman

[tags]
recipe = z3c.recipe.tag:tags
eggs = mailman

[django]
recipe = djangorecipe
settings = development
eggs =
    Django
    mailman.client
    postorius
extra-paths =
  ${postorius:location}
project = postorius

[test]
recipe = zc.recipe.testrunner
eggs =
    mailman
defaults = '--tests-pattern ^tests --exit-with-status'.split()
# Hack in extra arguments to zope.testrunner.
initialization = from mailman.testing import initialize;
    initialize('${buildout:directory}')